.my-select {
    background-color: #ffffff !important; 
    color: #000000 !important; 
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
}

.my-select .dropdown-menu .dropdown-item {
    color: #000000 !important;
}

.my-select .dropdown-toggle {
    color: #000000 !important;
}

.my-select .dropdown-menu .dropdown-item.active,
.my-select .dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa !important; 
    color: #000000 !important; 
}
